- name: gather facts
  hosts: local
  connection: local
  tasks:
    - name: print facts
      ansible.builtin.debug:
        msg: "{{ ansible_facts }}"
      when: ansible_facts.os_family == "Debian"
